name: 'CI .NET'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore src/TestApp/TestApp.csproj
      
    - name: Build
      run: dotnet publish -c Release -r win-x64 --self-contained true src/TestApp/TestApp.csproj -o bin/
      
    - name: Package targz
      run: tar -czf release-bin.tar.gz bin/*
        
    - name: Package zip
      uses: TheDoctor0/zip-release@0.6.1
      with:
        filename: release-bin.zip
        path: bin/
        
    - uses: pyTooling/Actions/releaser@r0
      name: Releaser
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: 'release-bin.*'
        tag: 'bleeding'
        
